<div>
    <ul>
        <li>
            <a href="{{ path('app.dashboard.index') }}">Dashboard</a>
        </li>
        <li>
            <a href="{{ path('app.user.list') }}">Benutzer anzeigen</a>
        </li>
        <li>
            <a href="{{ path('app.user.add') }}">Benutzer anlegen</a>
        </li>
    </ul>
</div>