{% extends 'base.html.twig' %}

{% block title %}Hello TimeEntryController!{% endblock %}

{% block body %}
    <h2>Zeiteinträge</h2>
    <table>
        <thead>
            <tr>
                <th>Startzeit</th>
                <th>Endzeit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for timeEntry in timeEntries %}
                <tr>
                    <td>{{ timeEntry.startDateTime|date("d.m.Y - H:i") }}</td>
                    <td>{{ timeEntry.endDateTime|date("d.m.Y - H:i") }}</td>
                    <td>
                        <a href="{{ path('app.timeEntry.edit', {'id': timeEntry.id }) }}">Edit</a> |
                        <a href="{{ path('app.timeEntry.delete', {'id': timeEntry.id }) }}" onclick="return confirm('Soll der Eintrag wirklich gelöscht werden')">Löschen</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
