{% extends 'base.html.twig' %}

{% block body %}
    {% for user in users %}
        <p>{{ loop.index }}. {{ user.email}}</p>
    {% else %}
        <p>Es gibt noch keine Benutzer</p>
    {% endfor %}
{% endblock %}